/**
 *
 * {{ properCase name }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';

/* eslint-disable react/prefer-stateless-function */
class {{ properCase name }} extends {{{ type }}} {
  static propTypes = {
    
  };

  render() {
    return (
      <div>

      </div>
    );
  }
}

export default {{ properCase name }};
